%section.tophead-wrapper{style: "background-image:url('#{asset_path('hard-wood-bg.jpg')}');"}
  .shader-layer
    .container-fluid
      .row#topheader
        .social.col-lg-12.col-md-12.col-sm-12.col-xs-12