.header.row.top-header{style: "background:url('#{asset_path('hard-wood-bg.jpg')}') no-repeat center center;"}
  .col-lg-12.hardwood-header
    .row
      .col-lg-2
      .col-lg-4
        .social
          %ul.social-block
            %li.sm-button#facebook{"data-toggle":"tooltip", "data-placement":"bottom", "title":"Facebook"}
              %a{href:"https://www.facebook.com/foreverjointtops/"}
                %i.fab.fa-facebook
            %li.sm-button#twitter{"data-toggle":"tooltip", "data-placement":"bottom", "title":"Twitter"}
              %a{href:"https://twitter.com/FJTButcherBlock"}
                %i.fab.fa-twitter
      .col-lg-6
        .contact-info
          %ul
            %li
              %a.btn.btn-primary.light-header-btn{href: "mailto:info@foreverjointtops.com"}
                %span
                  info@foreverjointtops.com
                  %span.fas.fa-envelope
            %li
              %a.btn.btn-primary.light-header-btn{href: "tel:6085666903"}
                %span
                  (608) 566-6903
                  %span.fas.fa-phone
.mid-header{style: "background:url('#{asset_path('butcher-block-bg-2.jpg')}');"}
  .col-lg-12.mid-header-wood
    .row
      .col-lg-2
      .col-lg-2
        %img{src:"#{asset_path('logo.png')}", style:"max-width:100%; vertical-align: bottom;"}
      .col-lg-4
        .titles
          %h2{style:"font-weight: bold;"} FOREVER JOINT TOPS
          %h3{style:"font-weight: bold;"} Quality that is Forever Yours
      .col-lg-2
      .col-lg-2
.header.row.top-header{style: "background:url('#{asset_path('hard-wood-bg.jpg')}') no-repeat center center;"}
  .col-lg-12.hardwood-header