%section.tophead-wrapper{style: "background-image:url('#{asset_path('hard-wood-bg.jpg')}');"}
  .shader-layer
    .container-fluid
      .row#topheader
        .social.col-lg-5.col-md-5.col-sm-5.col-xs-12
          %ul.social-block
            %li.sm-button#facebook{"data-toggle":"tooltip", "data-placement":"bottom", "title":"Facebook"}
              %a{href:"https://www.facebook.com/foreverjointtops/"}
                %i.fab.fa-facebook{style:"margin-top:3px;"}
            %li.sm-button#twitter{"data-toggle":"tooltip", "data-placement":"bottom", "title":"Twitter"}
              %a{href:"https://twitter.com/FJTButcherBlock"}
                %i.fab.fa-twitter{style:"margin-top:3px;"}
        .contact-info.col-lg-7.col-md-7.col-sm-7
          %ul
            %li
              %a.btn.btn-primary.light-header-btn{href: "mailto:info@foreverjointtops.com"}
                %span
                  info@foreverjointtops.com
                  %span.fas.fa-envelope
            %li
              %a.btn.btn-primary.light-header-btn{href: "tel:6085666903"}
                %span
                  (608) 566-6903
                  %span.fas.fa-phone
            %li
              %a.btn.btn-primary.light-header-btn{href: "/login"}
                %span
                  Login
            %li
              %a.btn.btn-primary.light-header-btn{href: "/signup"}
                %span
                  Signup
.mid-header{style: "background:url('#{asset_path('butcher-block-bg-2.jpg')}');"}
  .col-lg-12.mid-header-wood
    .row
      .col-lg-2
      .col-lg-2
        %img{src:"#{asset_path('logo.png')}", style:"max-width:100%; vertical-align: bottom;"}
      .col-lg-4
        .titles
          %h2{style:"font-weight: bold;"} FOREVER JOINT TOPS
          %h4{style:"font-weight: bold;"} Quality that is Forever Yours
      .col-lg-2
        .header-payments{style:"height: 100%;"}
          %ul{style:"margin-top: 15%;"}
            %li{style:"display:block; margin: 10px 0px 10px;"}
              %a.btn.btn-primary.light-header-btn{href: "/shop", style:"height: 40px; width: 150px;"}
                %span
                  Get Pricing
                  %span.fas.fa-check-circle
            %li{style:"display:block; margin: 10px 0px 10px;"}
              -# TODO (Jordan): Update reference
              %a.btn.btn-primary.light-header-btn{href: "#", style:"height: 40px; width: 150px; display: inline-flex;"}
                %span{style:"padding-bottom:12px; padding-right: 5px;"}
                  Pay Invoice
                %span.fab.fa-cc-paypal{style:"font-size: 25px;"}
      .col-lg-2
%section.tophead-wrapper{style: "background-image:url('#{asset_path('hard-wood-bg.jpg')}');"}
  .shader-layer
    .container-fluid
      .row#topheader
        .social.col-lg-12.col-md-12.col-sm-12.col-xs-12
          .header-menu{style: "height: 100%;"}
            %ul.menu
              %li.menu-item
                %a{href:"/home"}
                  Home
              %li.menu-item
                %a{href:"#"}
                  About
              %li.menu-item
                %a{href:"#"}
                  Portfolio
              %li.menu-item
                %a{href:"#"}
                  Commercial
              %li.menu-item
                %a{href:"#"}
                  Residential
              %li.menu-item
                %a{href:"#"}
                  FAQs
              %li.menu-item
                %a{href:"#"}
                  Shop
              %li.menu-item
                %a{href:"#"}
                  Testimonials
              %li.menu-item
                %a{href:"#"}
                  Better Butcher Block
              %li.menu-item
                %a{href:"#"}
                  Contact
                  
